@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:wght@500&display=swap');
@import "tailwindcss";

:root {
    font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
    width: 18px;
    height: 18px;
}

::-webkit-scrollbar-track {
    background: #0a0a13;
    border: 1px solid #222;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #3d3d3d, #2f2f2f, #1f1f1f);
    border-radius: 10px;
    border: 2px solid #0a0a13;
    min-height: 40px; 
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #575757, #3e3e3e, #2a2a2a);
}

::-webkit-scrollbar-button:vertical:decrement {
    height: 18px;
    background-color: #2f2f2f;
    border: 1px solid #444;
    border-radius: 4px;
    display: block;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 16 16'><path fill='%23FFFFFF' d='M4 8 L8 4 L12 8 Z'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
}

::-webkit-scrollbar-button:vertical:decrement:hover {
    background-color: #444;
}

::-webkit-scrollbar-button:vertical:increment {
    height: 18px;
    background-color: #2f2f2f;
    border: 1px solid #444;
    border-radius: 4px;
    display: block;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 16 16'><path fill='%23FFFFFF' d='M4 8 L8 12 L12 8 Z'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
}

::-webkit-scrollbar-button:vertical:increment:hover {
    background-color: #444;
}

::-webkit-scrollbar-corner {
    background: #0a0a13;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #3d3d3d #0a0a13;
}
