@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:wght@500&display=swap');
@import "tailwindcss";

:root {
    font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #0a0a13;
    border-radius: 10px;
    margin-block: 4px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #3d3d3d, #2f2f2f, #1f1f1f);
    border-radius: 10px;
    margin: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #575757, #3e3e3e, #2a2a2a);
}
